.bodysection{
	margin-top: 10px;
}

.bodyhead{
	height: 80px;
	width: 100%; 

}
.bodyhead i{
	color: #e98000;
}
.contentcontainer h3{
	font-size: 18px;
}


.bodyhead span{
	font-size: 20px;
	font-weight: bold;
}


 img{
 	max-width: 100%;
 	max-height: 380px;
 }

 .newsbody{
 	line-height: 20px;
 }

 .panel-body{
 	line-height: 20px;
 }

 .panel-heading h3{
 	line-height: 25px;
 }

 .col-md-11 h3{
 	line-height: 26px;
 }

 .created{
 	margin-bottom: 20px;
 	
 }

.usernameincomment{
	font-weight: bold;
	color: #3b5998;
  }

.commentsdiv a{
    cursor: pointer;
}
